:root {
  --clr-pale-blue: hsl(225, 100%, 94%);
  --clr-bright-blue: hsl(245, 75%, 52%);
  --clr-verypale-blue: hsl(225, 100%, 98%);
  --clr-desaturated-blue: hsl(224, 23%, 55%);
  --clr-dark-blue: hsl(223, 47%, 23%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 1rem;
  line-height: 1.6;
}

body {
  font-family: "Red Hat Display";
  text-align: center;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 10px 10px 0 0;
}

h2 {
  font-weight: 900;
  line-height: 1;
}

h3 {
  font-weight: 700;
  line-height: 1;
}

p {
  font-weight: 500;
  color: var(--clr-desaturated-blue);
}

.wrapper {
  background: var(--clr-pale-blue);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.card {
  background: white;
  border-radius: 10px;
  padding-bottom: 15rem;
  margin: 0 auto;
  width: 90%;
}

.order {
  margin: 3rem 0 3rem 0;
}

.order p {
  margin-top: 2rem;
}
.plan {
  margin-bottom: 3rem;
}

.plan p {
  color: var(--clr-desaturated-blue);
}

.flex {
  display: flex;
  justify-content: space-evenly;
}

button {
  display: inline-block;
  font-size: inherit;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  background: var(--clr-bright-blue);
  color: var(--clr-pale-blue);
  padding: 1rem 5rem;
  border-radius: 10px;
  margin: 0 auto;
}

.btn {
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-desaturated-blue);
  font-weight: 700;
  padding-top: 2rem;
  margin: 0 auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 90rem) {
  .card {
    display: flex;
    flex-direction: column;
    border: 1px red solid;
    justify-content: center;
    width: 30%;
    padding-bottom: 5rem;
  }
} ;
